<div id="container">
  <div id="wrapper">
    <div class="frame top"></div>
    <div id="graph"></div>
    <div class="frame bottom"></div>
  </div>
</div>

<div id="content">
<%= render :partial => 'ol', :locals => { :statistical_areas => @leaderboard } %>
<ul id="copy">
  <li>
    <h2>What's going on here?</h2>
    <p>We're ranking U.S. cities based on the greenness of their available housing stock. In the graph above, each line represent a city's greenness over time. (You can hover over a line to see which city it represents. Lower lines are better.)</p>
  </li>
  <li>
    <h2>How does it work?</h2>
    <p>Every day our system looks at new for-sale listings for the <a href="http://www.zillow.com/static/xls/Zestimate_Accuracy_December_31_2009.xls">top 28 markets</a> on <a href="http://zillow.com">Zillow</a>, a real-estate listings site.</p>
    <p>It then submits each of the listings to <a href="http://brighterplanet.com">Brighter Planet</a>'s <a href="http://carbon.brighterplanet.com">emission estimates web service</a> and determines an average annual carbon footprint for a home in each city.</p>
  </li>
  <li>
    <h2>But how does it <i>really</i> work?</h2>
    <p>Zillow listings like <a href="http://www.zillow.com/homedetails/890-Glenwood-Park-Dr-SE-Atlanta-GA-30316/82390747_zpid/">this one in Atlanta</a> contain a number of useful property attributes, namely <strong>zip code</strong>, <strong>bedrooms</strong>, <strong>bathrooms</strong>, <strong>sqft</strong>, and <strong>property type</strong>.</p>
    <p>These attributes map to characteristics defined on Brighter Planet's <a href="http://carbon.brighterplanet.com/residences/options">carbon model for residences</a>. For a detailed sample methodology, see <a href="http://carbon.brighterplanet.com/residences?residence[zip_code][name]=30316&residence[floorspace_estimate]=2350&residence[residence_class][name]=Single-family+detached+house+%28a+one-family+house+detached+from+any+other+house%29">our analysis of the Atlanta house</a>.</p>
  </li>
  <li>
    <h2>So you can figure out how green a house is just by looking at those five things?</h2>
    <p>We can take a pretty good guess. Zillow doesn't provide details like whether the house has solar panels or super-insulated construction. But from those five things we can figure out the average energy use for homes in that part of the country and factor in things like the house's size, building type, and local climate to get an estimate of greenhouse gas emissions.</p>
  </li>
  <li>
    <h2>Is Zillow really great for letting you guys do this?</h2>
    <p>Yes, they are.</p>
    <p><%= image_tag 'http://www.zillow.com/widgets/GetVersionedResource.htm?path=/static/logos/Zillowlogo_150x40.gif', :alt => 'Powered by Zillow' %></p>
  </li>
</ul>
<p id="more"><%= link_to_function 'Show all cities', '$$("ol.statistical_areas li").invoke("show"); this.up().hide()' %><p>
</div>

<div id="footer">
  <p>Footer about Brighter Planet will go here</p>
</div>

<% content_for :bottom do %>
<%= line_graph_tag 'graph', StatisticalArea.emissions, :stroke_width => 3,
                                                       :datalabels => StatisticalArea.all.inject({}) { |memo, s| memo[s.identifier] = s.name; memo },
                                                       :draw_axis => false, :background_color => '#eee',
                                                       :draw_hovers => true,
                                                       :hover_color => 'red',
                                                       :grid => false,
                                                       :show_horizontal_labels => false,
                                                       :show_vertical_labels => false,
                                                       :left_padding => 0,
                                                       :right_padding => 0,
                                                       :background_color => '#333',
                                                       :plot_padding => 0 %>
<script type="text/javascript">
$$('ol.statistical_areas li').slice(10).invoke('hide');
</script>
<% end %>
